h2 {
    margin-bottom: 30px;
}
p {
    margin-bottom: 20px;
}
footer {
    margin-top: 70px;
}
ol li {
    margin-bottom: 15px;
}
ol ul {
    margin-top: 15px;
}
ul li {
    margin-left: 15px;
}
.regulation-p {
    margin-bottom: 25px;
}