@media screen and (max-width: 1355px) {
    .container {
        margin-right: 30px;
        margin-left: 30px;
    }
    .catalog-button button.main-action {
        margin-left: 40px;
    }
    .phone-section {
        margin: 0 30px 0 40px;
    }
    #main-screen-slide-1 img {
        max-width: 40%;
        right: 10%;
        top: -140px;
    }
    .goods-row-swiper-next,
    .popular-sections-swiper-next {
        right: -30px;
    }
    .goods-row-swiper-prev,
    .popular-sections-swiper-prev {
        right: 9px;
    }
    .popular-section {
        height: 280px;
    }
    .popular-section-image img {
        max-height: 175px;
        max-width: 265px;
    }
    .recommended-goods-swiper-prev {
        left: -30px;
    }
    .recommended-goods-swiper-next {
        right: -30px;
    }
    .work {
        margin-right: 24px;
    }
    .work:last-child {
        margin-right: 0;
    }
    .work-photo {
        height: 390px;
    }
    .work-description {
        height: 84px;
    }
    .contact-info-line-start {
        min-width: 242px;
    }
}
/*main point*/
@media screen and (max-width: 1280px) {
    #main-screen-slide-1 img {
        max-width: 40%;
        right: 10%;
        top: -140px;
    }
    #main-screen-slide-4 img {
        max-width: 35%;
        right: 10%;
    }
    .main-advantage {
        grid-template-columns: 86px 1fr;
    }
    .main-advantage-icon {
        padding-right: 23px;
    }
    a.service-block {
        height: 385px;
    }
    .popular-section {
        height: 270px;
    }
    .popular-section-image img {
        max-height: 172px;
        max-width: 262px;
    }
    .recommended-goods-swiper {
        max-width: 1068px;
    }
    .recommended-good-description {
        height: 94px;
    }
    .actions-swiper-next {
        right: -30px;
    }
    .actions-swiper-prev {
        right: 9px;
    }
    .work-photo {
        height: 370px;
    }
}
@media screen and (max-width: 1240px) {
    .header-popular .container {
        margin: 0 0 0 30px;
        overflow-x: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .header-popular .container::-webkit-scrollbar {
        display: none;
    }
    .header-popular-option:first-child {
        margin-left: 0;
    }
    .header-popular-option:last-child {
        padding-right: 30px;
    }
    .header-popular-option {
        margin-left: 50px;
        white-space: nowrap;
    }
    #main-screen-slide-3 {
        background-position: 45% center;
    }
    #main-screen-slide-1 h2 span,
    #main-screen-slide-2 h2 span {
        color: var(--action-dark);
    }
    .main-advantage {
        height: 103px;
    }
    .recommended-goods-swiper {
        max-width: 940px;
    }
    .work-photo {
        height: 340px;
    }
    .news-img {
        height: 230px;
    }
    .contacts-info-text {
        width: unset;
    }
    .contacts-info-map {
        width: 45%;
    }
    #opened-catalog .container {
        grid-template-columns: 1fr 3fr;
    }
}
@media screen and (max-width: 1119px) {
    .phone-section {
        margin-right: 0;
    }

    .header-bar {
        display: none;
    }

    .header-bar-mobile {
        display: grid;
    }

    .header-bar-option {
        margin-left: 0;
        border-radius: 0;
        height: 54px;
    }

    .basket.header-bar-option {
        width: 100%;
        border-radius: 0;
        height: 54px;
        padding: 0;
    }

    .header-bar-mobile .basket-amount {
        bottom: -6px;
    }

    .favourites.header-bar-option {
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
    }

    .header-bar-mobile a {
        width: 100%;
        box-sizing: border-box;
    }

    .header-bar-amount {
        bottom: 10px;
        left: calc(50% + 3px);
    }

    #main-screen-slide-3 {
        background-position: 40% center;
    }

    a.service-block {
        height: 340px;
    }

    .about-section {
        padding: 9px 15px;
    }

    .popular-section-image img {
        max-height: 162px;
        max-width: 242px;
    }

    .recommended-goods-swiper {
        max-width: 840px;
    }

    .recommended-good-flying-photo {
        right: -85px;
    }

    .our-contacts h2.section-header {
        text-align: center;
    }

    .contacts-info {
        flex-direction: column;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-info-line-start {
        min-width: 290px;
    }

    .contacts-info-map {
        width: 100%;
    }

    .contacts-info-text {
        margin-bottom: 50px;
    }

    .our-contacts-action {
        text-align: center;
    }

    .footer-nav {
        flex-direction: column;
    }

    .footer-nav-col {
        width: 200px;
    }
    .popup-fon {
        align-items: flex-start;
        height: 100%;
        overflow-y: auto;
        padding-top: 60px;
    }
    .popup-fon .popup-container {
        margin-bottom: 200px;
    }

}
/*main point*/
@media screen and (max-width: 1024px) {
    .header-messengers svg {
        height: 24px;
        width: 24px;
    }
    .header-messengers a {
        margin-left: 22px;
    }
    .main-screen-swiper-slide .container {
        text-align: center;
        padding: 137px 0;
    }
    .main-screen-swiper-slide .container h2 {
        margin: 0 auto 20px auto;
    }
    .main-screen-swiper-slide .container .slider-subheading {
        margin: 0 auto 22px auto;
    }
    .main-screen-swiper-slide-img {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .main-screen-swiper-slide-img img{
        position: static;
        right: unset;
        top: unset;
        left: unset;
    }
    #main-screen-slide-4 img, #main-screen-slide-1 img{
        right: unset;
        top: unset;
    }
    #main-screen-swiper-slide-img-3, #main-screen-swiper-slide-img-2 {
        display: flex;
    }
    #main-screen-slide-1 img {
        width: 350px;
        max-width: unset;
    }
    #main-screen-slide-4 img {
        width: 310px;
        max-width: unset;
    }
    #main-screen-swiper-slide-img-3 img, #main-screen-swiper-slide-img-2 img {
        height: 200px;
    }
    #main-screen-slide-2 {
        background: #dfb78b;
    }
    #main-screen-slide-3 {
        background: #c23363;
    }
    .main-swiper-control .main-screen-swiper-prev,
    .main-swiper-control .main-screen-swiper-next {
        top: -440px;
    }
    .services h2.section-header {
        text-align: center;
    }
    .services-blocks {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 24px;
        width: 552px;
        margin: 0 auto;
    }
    a.service-block {
        height: 340px;
        width: 264px;
    }
    .recommended-goods-swiper {
        max-width: 800px;
    }
    .recommended-good-flying-photo {
        right: -75px;
    }
    .recommended-good-description {
        height: 114px;
    }
    #action-block-1,
    #action-block-2,
    #action-block-3,
    #action-block-4 {
        background-position: 30%;
    }
    .our-works-slides-wrap {
        padding-left: 30px;
        overflow-x: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .our-works-slides-wrap::-webkit-scrollbar {
        display: none;
    }
    .our-works-slides.container {
        width: 1230px;
        justify-content: flex-start;
        margin: 0;
        padding-right: 30px;
    }
    .work-photo {
        height: 380px;
    }
    .footer-messengers svg {
        height: 30px;
        width: 30px;
    }
}
@media screen and (max-width: 990px) {
    #catalog-button {
        display: none;
    }
    #opened-mobile-catalog {
        display: unset;
    }
    #mobile-catalog-button {
        display: unset;
    }
    #burger-menu-container {
        margin-left: auto;
    }
    #burger-menu-close {
        left: unset;
        right: 18px;
    }
    .header-menu {
        display: none;
    }
    #burger {
        display: block;
    }
    .header-messengers a {
        margin-left: 26px;
    }
    .catalog-button button.main-action {
        margin-left: 30px;
    }
    .header-email {
        display: none;
    }
    .header-messengers {
        margin-right: 0;
    }
    .all-exclude-bar .logo {
        display: none;
    }
    .catalog-button button.main-action {
        margin-left: 0;
    }
    .header-top-line .container {
        display: flex;
        justify-content: space-between;
    }
    .header-top-line .logo {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .header-top-line .logo a:first-child {
        padding: 0 12px 0 0;
    }
    .header-messengers a:first-child {
        margin-left: 0;
    }
    .header-contacts {
        order: 1;
    }
    #burger {
        order: 2;
        margin-left: 60px;
    }
    #burger-menu {
        display: unset;
    }
    .search {
        grid-template-columns: minmax(40px, 594px);
    }
    .main-advantage {
        height: 122px;
    }
    .popular-section-image img {
        max-height: 158px;
        max-width: 222px;
    }
    #search-results .container {
        max-width: unset;
        width: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 920px) {
    #main-advantages .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        justify-items: center;
        grid-row-gap: 24px;
    }
    .main-advantage {
        height: unset;
        width: 416px;
    }
    .recommended-goods-swiper {
        max-width: 720px;
    }
    .recommended-good-flying-photo {
        display: none;
    }
    .recommended-good-photos, .recommended-good-info {
        width: 46%;
    }
    .recommended-good-photos-gallery-slide img {
        max-width: 95%;
        max-height: 70%;
    }
    .recommended-good-description {
        height: unset;
    }
    .our-works h2.section-header{
        text-align: left;
    }
    .our-works .sub-header,
    .our-works-buttons {
        text-align: left;
        margin-left: unset;
        margin-right: unset;
    }
    .our-works-buttons-wrap {
        margin-left: 30px;
    }
    .our-works-buttons button:first-child {
        margin-left: 0;
    }
    .footer-social {
        margin-right: 15px;
    }
}

@media screen and (max-width: 860px) {
    .action-heading {
        margin-right: 30px;
    }
    .reviews-info {
        width: 344px;
    }
    .reviews-info-intro-text {
        max-width: 290px;
    }
    .footer-info {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
    .footer-info .logo a:first-child{
        padding-left: 0;
    }
    footer .logo {
        width: 94px;
        margin-left: auto;
        margin-right: auto;
    }
    footer .about {
        max-width: unset;
    }
    .logo-and-about {
        margin-bottom: 40px;
    }
    .footer-nav-col {
        width: unset;
    }
    .footer-nav-col:first-child {
        width: unset;
    }
    .footer-nav {
        margin-bottom: 40px;
    }
    .footer-social {
        justify-content: center;
        margin: 0 0 25px 0;
    }
    .footer-email {
        justify-content: center;
    }
    .footer-messengers a {
        margin-right: 22px;
    }
    .footer-messengers a:last-child {
        margin-right: 0;
    }
    .footer-info-inn {
        text-align: center;
    }
    .searched-item-name-and-code {
        display: flex;
        flex-direction: column;
    }
    .searched-item-name {
        margin-bottom: 5px;
    }
    .searched-item-code {
        margin: 0;
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    .recommended-goods h2.section-header {
        text-align: center;
    }
    .recommended-goods-swiper {
        width: 100%;
    }
    .recommended-good-slide {
        flex-direction: column;
    }
    .recommended-good-photos, .recommended-good-info {
        width: unset;
    }
    .recommended-good-photos {
        margin-bottom: 30px;
    }
    .recommended-good-info {
        text-align: center;
    }
    .recommended-good-description,
    .recommended-good-chars-and-adv {
        max-width: 400px;
        text-align: left;
    }
    .recommended-good-description {
        margin-left: auto;
        margin-right: auto;
    }
    .recommended-good-chars-and-adv {
        margin: 0 auto 35px auto;
    }
    .recommended-good-char-name {
        min-width: 260px;
    }
    .recommended-goods-swiper-next,
    .recommended-goods-swiper-prev {
        top: 550px;
    }
    .reviews h2.section-header {
        text-align: center;
        margin-bottom: 30px;
    }
    .reviews-all-content {
        flex-direction: column;
    }
    .reviews-info {
        width: unset;
        margin-bottom: 60px;
    }
    .reviews-info-intro-text {
        text-align: center;
    }
    .review-mark-text {
        max-width: unset;
    }
    .reviews-info-intro-text,
    .reviews-marks,
    .reviews-action {
        max-width: 336px;
        margin-right: auto;
        margin-left: auto;
    }
    .reviews-action a {
        margin-right: auto;
        margin-left: auto;
    }
    .reviews-wrap-block {
        width: 1174px;
    }
    .searched-item-and-price {
        flex-direction: column;
        align-items: flex-start;
    }
    .searched-item-char {
        margin-bottom: 10px;
    }
    .searched-item-price {
        margin-right: 30px;
    }
    .searched-item {
        margin-right: 20px;
    }
    .searched-item-price-section {
        display: flex;
        align-items: center;
        margin-right: 0;
        margin-left: 22px;
    }
    .searched-item-buy .basket-button {
        margin-top: 0;
    }
    .searched-item-buy button {
        width: 126px;
        height: 38px;
    }

}
@media screen and (max-width: 690px) {
    .phone-section {
        display: none;
    }
    .mobile-phone {
        display: flex;
        flex-shrink: 0;
        margin-left: 25px;
    }
    .hits .minor-filters,
    .hits .section-header{
        text-align: center;
    }
    .minor-filter:last-child {
        margin-right: 0;
    }
    .goods-row-swiper {
        width: 306px;
        margin: 0 auto;
    }
    .goods-row-swiper-prev {
        left: calc(50% - 220px);
        top: 325px;
    }
    .goods-row-swiper-next {
        right: calc(50% - 220px);
        top: 325px;
    }
    #action-block-1,
    #action-block-2,
    #action-block-3,
    #action-block-4 {
        background-position: center;
    }
    .searched-item-char {
        min-height: unset;
        height: 15px;
        overflow: hidden;
    }
}
@media screen and (max-width: 659px) {
    .header-email {
        display: none;
    }
    .header-messengers {
        margin-right: 0;
    }
    .popular-sections-swiper-next {
        right: -20px;
    }
    .popular-sections-swiper-prev {
        right: 19px;
    }
    .recommended-goods-swiper-prev {
        left: -20px;
    }
    .recommended-goods-swiper-next {
        right: -20px;
    }
    .actions-swiper-next {
        right: -20px;
    }
    .actions-swiper-prev {
        right: 19px;
    }
    .news h2.section-header {
        text-align: center;
    }
    .news-swiper {
        width: 416px;
        margin-left: auto;
        margin-right: auto;
    }
    .news-img {
        height: 280px;
    }
    .news-swiper-prev {
        left: 0;
        top: 195px;
    }
    .news-swiper-next {
        top: 195px;
    }
}
/*main point*/
@media screen and (max-width: 640px) {
    .container {
        margin-right: 20px;
        margin-left: 20px;
    }

    .header-popular .container {
        margin: 0 0 0 20px;
    }

    .header-popular-option:last-child {
        padding-right: 20px;
    }

    .header-popular-option {
        margin-left: 40px;
    }

    .services-blocks {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 24px;
        width: 480px;
        margin: 0 auto;
    }

    a.service-block {
        height: 340px;
        width: 228px;
    }

    .goods-row-swiper-prev {
        left: calc(50% - 210px);
    }

    .goods-row-swiper-next {
        right: calc(50% - 210px);
    }

    .popular-section .about-section {
        font-size: 16px;
    }

    .popular-section-image img {
        max-height: 140px;
        max-width: 200px;
    }

    .actions-swiper-prev {
        left: -30px;
    }

    .actions-swiper-next {
        right: -30px;
    }

    .actions-swiper-prev,
    .actions-swiper-next {
        top: 115px;
    }

    .our-works-buttons-wrap {
        margin-left: 20px;
    }

    .our-works-slides-wrap {
        padding-left: 20px;
    }
    .our-works-buttons-wrap {
        overflow-x: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .our-works-buttons-wrap::-webkit-scrollbar {
        display: none;
    }
    .our-works-buttons {
        white-space: nowrap;
    }
    .our-works-buttons button:last-child {
        margin-right: 20px;
    }
    .news-swiper {
        width: 380px;
    }
    .contacts-info-line {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact-info-line-start {
        min-width: unset;
        margin-bottom: 12px;
    }
    .contacts-info-line span.our-contact-messenger-name {
        display: none;
    }
    .our-contact-messengers svg {
        height: 34px;
        width: 34px;
        margin-right: 7px;
        margin-left: 7px;
    }
    .contacts-info-map {
        height: 300px;
    }
    .popup-fon .popup-container {
        width: 430px;
        padding: 34px 40px;
    }
}
@media screen and (max-width: 539px) {
    .popular-section .about-section {
        font-size: 18px;
    }
    .popular-section-image img {
        max-height: 160px;
        max-width: 220px;
    }
    .popular-sections-swiper-prev {
        left: -30px;
    }
    .popular-sections-swiper-next {
        right: -30px;
    }
    .popular-sections-swiper-prev,
    .popular-sections-swiper-next {
        top: 122px;
    }
    .popular-section .about-section {
        padding: 9px 25px;
    }
    .footer-info-inn span {
        display: block;
        margin-bottom: 10px;
    }
    .search-checkbox-description {
        display: none;
    }
    .search-results-list-category-icon, .search-results-list-item-checkbox {
        width: 50px;
    }
}
@media screen and (max-width: 520px) {
    .header-messengers {
        display: none;
    }
    h2 {
        font-size: 30px;
    }
    .main-screen-swiper-slide h2 span {
        white-space: nowrap;
    }
    .services-blocks {
        width: unset;
    }
    a.service-block {
        width: unset;
    }
    .about-section {
        padding: 9px 10px;
    }
    .news-swiper {
        width: 320px;
    }
    .recommended-good-name {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    #mobile-catalog-button span {
        display: none;
    }
    #mobile-catalog-button {
        display: unset;
        padding: 0 12px;
    }
    #mobile-catalog-button svg {
        margin-right: 0;
    }
}
@media screen and (max-width: 480px) {
    .main-advantage {
        width: 100%;
    }
    .services-blocks {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        width: 280px;
    }
    .about-section {
        padding: 9px 25px;
    }
    .goods-row-swiper-prev {
        left: calc(50% - 200px);
    }
    .goods-row-swiper-next {
        right: calc(50% - 200px);
    }
    #action-block-1,
    #action-block-2,
    #action-block-3,
    #action-block-4 {
        background-position: 30%;
    }
    .news-img {
        height: 220px;
    }
    .news-swiper-prev,
    .news-swiper-next {
        top: 160px;
    }
    .recommended-good-name {
        max-width: 280px;
    }
    .searched-item-price {
        margin-right: 15px;
    }
    .search-results-list-item-img img {
        max-height: 70px;
    }
    .popup-fon .popup-container {
        width: 410px;
        padding: 30px 30px;
    }

}
@media screen and (max-width: 459px) {
    h2 {
        font-size: 28px;
    }
    .goods-row-swiper-prev {
        left: calc(50% - 195px);
    }
    .goods-row-swiper-next {
        right: calc(50% - 195px);
    }
    .recommended-goods-swiper-prev {
        left: -15px;
    }
    .recommended-goods-swiper-next {
        right: -15px;
    }
    .actions-swiper-prev {
        left: -25px;
    }
    .actions-swiper-next {
        right: -25px;
    }
    .search-results-list-item-img {
        width: 90px;
    }
    .popup-fon .popup-container {
        width: 380px;
        padding: 30px 30px;
    }
}
/*main point*/
@media screen and (max-width: 425px) {
    .container {
        margin-right: 15px;
        margin-left: 15px;
    }
    .mobile-phone {
        margin-left: 20px;
    }
    .search {
        margin-left: 20px;
    }
    .header-popular .container {
        margin: 0 0 0 15px;
    }
    .header-popular-option:last-child {
        padding-right: 15px;
    }
    .header-popular-option {
        margin-left: 30px;
    }
    .main-screen-swiper-slide-img {
        height: 220px;
    }
    #main-screen-slide-1 img {
        max-width: 70%;
    }
    #main-screen-slide-4 img {
        max-width: 65%;
    }
    #main-screen-swiper-slide-img-3 img, #main-screen-swiper-slide-img-2 img {
        height: 180px;
    }
    .main-advantage {
        grid-template-columns: 69px 1fr;
    }
    .main-advantage-text {
        padding-right: 15px;
    }
    .main-advantage-icon {
        padding-right: 14px;
    }
    #main-advantages .container {
        grid-row-gap: 20px;
    }
    .goods-row-swiper-prev {
        left: calc(50% - 165px);
    }
    .goods-row-swiper-next {
        right: calc(50% - 165px);
    }
    .popular-sections .section-header {
        text-align: center;
    }
    .popular-sections-swiper-prev {
        left: -25px;
    }
    .popular-sections-swiper-next {
        right: -25px;
    }
    .recommended-goods-swiper-next, .recommended-goods-swiper-prev {
        top: 549px;
    }
    #action-block-1,
    #action-block-2,
    #action-block-3,
    #action-block-4 {
        background-position: 35%;
    }
    .our-works-buttons-wrap {
        margin-left: 15px;
    }
    .our-works-slides-wrap {
        padding-left: 15px;
    }
    .news-swiper-prev, .news-swiper-next {
        top: 104px;
    }
    .basket-info {
        display: none;
    }
    .search-results-list-category-icon, .search-results-list-item-checkbox {
        width: 40px;
    }
    .search-results-list-item-img {
        width: 80px;
    }
    .searched-item,
    .searched-item-price-section {
        margin-left: 15px;
    }
    .search-results-list-item {
        position: relative;
    }
    .searched-item-code {
        position: absolute;
        z-index: 1;
        bottom: 20px;
        left: 13px;
    }
    .searched-item-name {
        margin-bottom: 0;
    }
    .searched-item-name-and-code {
        margin-bottom: 4px;
    }
    .searched-item-char {
        margin-bottom: 8px;
    }
    .searched-item-price {
        margin-right: 10px;
        font-size: 18px;
    }
    .searched-item-buy button {
        width: 122px;
        height: 35px;
    }
    .search-results-list-item {
        padding: 16px 0;
    }
    .searched-item-price-section {
        align-items: flex-end;
    }
    .popup-fon .popup-container {
        width: 340px;
        padding: 20px 20px;
    }
    .main-screen-swiper-slide .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    h2.section-header {
        margin-top: var(--section-gap-mobile);
        margin-bottom: var(--section-header-mobile-mbottom);
    }
}
/*main point*/
@media screen and (max-width: 374px) {
    .main-screen-swiper-slide .container .slider-subheading {
        height: 90px;
    }
    .main-swiper-control .main-screen-swiper-prev, .main-swiper-control .main-screen-swiper-next {
        top: -490px;
    }
    #main-screen-swiper-slide-img-3 img, #main-screen-swiper-slide-img-2 img {
        height: 150px;
    }
    #main-screen-slide-4 img {
        margin-top: -60px;
    }
    .main-advantage {
        height: 103px;
    }
    .minor-filter {
        margin-right: 0;
    }
    .minor-filters {
        display: flex;
        justify-content: space-between;
    }
    .goods-row-swiper {
        width: 276px;
    }
    .goods-row-swiper-prev {
        left: calc(50% - 150px);
    }
    .goods-row-swiper-next {
        right: calc(50% - 150px);
    }
    .recommended-good-photos-gallery-slide {
        height: 290px;
    }
    .recommended-good-gallery-row-thumb {
        height: 70px;
    }
    .recommended-goods-swiper-next, .recommended-goods-swiper-prev {
        top: 467px;
    }
    .recommended-good-char-name {
        min-width: 206px;
    }
    .recommended-good-adv {
        align-items: unset;
    }
    .recommended-goods-actions {
        display: flex;
        flex-direction: column;
    }
    .recommended-goods-actions .second-action {
        margin-bottom: 12px;
        width: 100%;
    }
    .our-works-slides.container {
        width: 1040px;
    }
    .work-photo {
        height: 340px;
    }
    .news-swiper {
        width: 290px;
    }
    .news-swiper-prev {
        left: -10px;
    }
    .news-swiper-next {
        right: -10px;
    }
    #burger-menu-container {
        width: 100%;
        border-radius: 0;
    }
    .searched-item-price-section {
        flex-direction: column;
    }
    .searched-item-char {
        display: none;
    }
    .search-results-list-category-icon, .search-results-list-item-checkbox {
        width: 36px;
    }
    .searched-item-name {
        margin-bottom: 2px;
        font-size: 15px;
    }
    .searched-item-price {
        margin-right: 0;
        margin-bottom: 2px;
        font-size: 15px;
    }
    .searched-item-price-section {
        align-items: flex-start;
    }
    .searched-item-buy button{
        height: 33px;
        font-size: 15px;
    }
    .popup-fon .popup-container {
        width: 290px;
        padding: 15px 15px;
    }
}
@media screen and (max-width: 343px) {
    #main-screen-slide-4 .main-screen-swiper-slide-img {
        height: 185px;
    }
}
