h1.header-in-catalog {
    font-size: 28px;
    margin-bottom: 35px;
}
.section-grid {
    display: flex;
}
.section-filters {
    width: 306px;
    margin-bottom: 130px;
    flex-shrink: 0;
    margin-right: 24px;
    box-sizing: border-box;
    padding-right: 12px;
}
.section-filter {
    margin-bottom: 35px;
}
/*accordion*/
.section-filter-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-family: var(--main-font-bold);
}
/*panel*/
.section-filter-options {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.section-filter-heading.active + .section-filter-options {
    max-height: 256px;
}
.section-filter-show-hide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border: 1px solid var(--grey);
    border-radius: 50%;
    cursor: pointer;
}
.section-filter-show-hide svg {
    fill: var(--grey);
    margin-top: 1px;
    transition: all .3s ease-out;
}
/*accordion active*/
.section-filter-heading.active .section-filter-show-hide svg{
    margin-top: 0;
    transform: rotate(180deg);
}
.section-filter-show-hide:hover {
    border-color: var(--text);
}
.section-filter-show-hide:hover svg {
    fill: var(--text);
}
.section-filter-option {
    margin-bottom: 10px;
}
.section-filter-checkbox {
    height: 16px;
    width: 16px;
    margin: 0 10px 0 0;
    cursor: pointer;
    outline: none;
    accent-color: var(--action);
}
.filter-label {
    display: flex;
    cursor: pointer;
}
.filter-label:hover {
    color: var(--action-dark);
}
.section-filter-value {
    display: inline-block;
}
.option-amount {
    color: #7c7c7c;
    margin-left: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-filter.long .section-filter-options {
    overflow-y: auto;
}
    /*section filter with range*/
.section-filter.with-range .slider {
    margin-bottom: 10px;
    box-sizing: border-box;
}
.section-filter.with-range .slider,
.section-filter.with-range .range-inputs {
    margin-right: 4px;
}
.section-filter.with-range .slider {
    margin-left: 4px;
}

.range-input-label {
    margin-right: 6px;
    font-size: 14px;
}
.fields-separator {
    margin: 0 8px;
}
.numbers-inputs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.numbers-inputs .field {
    display: flex;
    align-items: center;
}
.numbers-inputs .field .range-input {
    height: 32px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 32px;
    font-family: var(--main-font-regular);
    outline: none;
    border: 1px solid var(--light);
    width: 100%;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.numbers-inputs .field .range-input:focus,
.numbers-inputs .field .range-input:hover {
    border-color: var(--action);
}
.slider {
    height: 5px;
    border-radius: 5px;
    background: #c2e4fa;
    position: relative;
}
.slider .progress {
    height: 5px;
    border-radius: 5px;
    background: var(--action);
    position: absolute;
    left: 0;
    right: 0;
}
.range-inputs {
    position: relative;
}
.range-inputs input {
    position: absolute;
    top: -16px;
    z-index: 2;
    height: 5px;
    width: 100%;
    background: none;
    -webkit-appearance: none;
    pointer-events: none;
}
.range-inputs input[type='range']::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: var(--action);
    pointer-events: auto;
}
.range-inputs input[type='range']::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: var(--action);
    -moz-appearance: none;
    pointer-events: auto;
    border: none;
}
.amount-founded {
    margin-bottom: 15px;
}
.amount-founded-bold {
    font-family: var(--main-font-semibold);
}
.clear-filters .second-action {
    height: 46px;
    width: 100%;
}
.fast-filters {
    margin-top: -16px;
    margin-bottom: 35px;
}
.fast-filter {
    display: inline-block;
    padding: 11px;
    box-sizing: border-box;
    background: #eaeaea;
    border-radius: 6px;
    margin-right: 16px;
    margin-top: 16px;
    cursor: pointer;
}
.fast-filter.active{
    background: var(--action);
    color: white;
}
.sorted-filters {
    display: flex;
    justify-content: space-between;
    color: var(--text);
    margin-bottom: 24px;
}
.view-settings {
    display: flex;
    align-items: center;
}
.show-amount {
    margin-right: 25px;
}
.view {
    display: flex;
}
.view-rows {
    margin-right: 14px;
}
.view-rows, .view-cols {
    height: 17px;
    width: 19px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.view-row {
    height: 3px;
    border-radius: 2px;
}
.view-row, .view-col {
    background: var(--input-default);
}
.view-type.active .view-row,
.view-type:hover .view-row,
.view-type.active .view-col,
.view-type:active .view-col {
    background: var(--action);
}
.view-cols-row {
    display: flex;
    justify-content: space-between;
}
.view-col {
    height: 7px;
    width: 8px;
    border-radius: 2px;
}
.sorted-filters select {
    font-size: 16px;
    font-family: var(--main-font-regular);
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 16px 5px 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #aaadb0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--background);
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.82817 0.169023C9.05728 0.394388 9.05728 0.759602 8.82817 0.984967L4.91501 4.83098C4.68588 5.05634 4.31411 5.05634 4.08501 4.83098L0.17185 0.984967C-0.0572834 0.759633 -0.0572834 0.394388 0.17185 0.169023C0.401109 -0.0563416 0.772717 -0.0563416 1.00201 0.169023L4.50001 3.60714L7.99805 0.169023C8.22731 -0.0563416 8.59888 -0.0563416 8.82817 0.169023Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 5% top 50%;
    background-size: .65em auto;
}
.sorted-filters select:hover {
    border-color: var(--input-focus);
}
.sort-type select {
    padding-right: 25px;
}
.show-amount select {
    background-position: right 8% top 50%;
}
.showed-goods {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 34px;
}
.showed-goods .good {
    margin-bottom: 24px;
}
.showed-goods.show-in-a-row .good{
    width: 100%;
    display: flex;
    padding: 24px;
    min-height: 265px;
}
.showed-goods.show-in-a-row .good>.good-link {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.showed-goods.show-in-a-row .good .good-image {
    height: 100%;
    width: 100%;
}
.showed-goods.show-in-a-row .good .good-image img {
    max-width: 100%;
    max-height: 210px;
}
.showed-goods.show-in-a-row .good .good-name-and-chars {
    box-sizing: border-box;
    padding: 0 24px;
    width: 50%;
}
.showed-goods.show-in-a-row .good-chars {
    max-width: 355px;
}
.showed-goods.show-in-a-row .good .good-name-and-chars .good-name {
    height: 19px;
}
.showed-goods.show-in-a-row .good-char:last-child {
    margin-bottom: 0;
}
.showed-goods.show-in-a-row .good .good-actions {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.showed-goods.show-in-a-row .good .good-actions .good-price {
    order: 1;
    margin-bottom: 0;
}
.showed-goods.show-in-a-row .good .good-actions .good-add-to {
    order: 2;
    margin-bottom: 0;
}
.showed-goods.show-in-a-row .good .good-actions .good-actions-buttons {
    order: 3;
}
.showed-goods.show-in-a-row .good-price {
    flex-direction: column;
    overflow: unset;
    height: unset;
    align-items: flex-start;
}
.showed-goods.show-in-a-row .good-stock-price {
    order: 2;
    margin-bottom: 0;
}
.showed-goods.show-in-a-row .good-price-before-discount {
    margin-left: 0;
    flex-shrink: 0;
    order: 1;
    margin-bottom: 5px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
    align-items: center;
    font-size: 18px;
    font-family: var(--main-font-bold);
    color: #70919f;
}
.pagination a,
.pagination .pagination-dots {
    margin: 0 10px;
}
.pagination a {
    text-decoration: none;
    color: #70919f;
}
.pagination a:hover,
.pagination a.active {
    color: var(--text);
}
.pagination .pagination-arrow {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--input-default);
    border-radius: 12px;
}
.pagination .pagination-arrow svg {
    fill: var(--text);
}
.pagination .pagination-arrow:hover {
    background: var(--action);
    border-color: var(--action);
}
.pagination .pagination-arrow:hover svg {
    fill: white;
}
.pagination-link,
.pagination-dots {
    padding-top: 3px;
}
.show-all-filters {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
}
.show-all-filters span {
    margin-top: 3px;
    margin-left: 5px;
}
.show-all-filters span, .show-all-filters svg {
    display: inline-block;
    vertical-align: middle;
}
.all-filters-btn {
    display: none;
}
.section-filters-header,
.clear-filters-up-top {
    display: none;
}






/*adaptive*/
@media screen and (max-width: 1355px) {
    .section-filters {
        width: 280px;
    }
    .showed-goods .good {
        width: 32%;
    }
}
@media screen and (max-width: 1280px) {
    .good-image img {
        max-width: 244px;
    }
}
@media screen and (max-width: 1240px) {
    .showed-goods .good {
        width: 48%;
    }
    .good-image img {
        max-width: 264px;
    }
    .showed-goods.show-in-a-row .good>.good-link {
        width: 27%;
    }
    .showed-goods.show-in-a-row .good .good-name-and-chars {
        width: 50%;
        padding: 0 30px;
    }
    .showed-goods.show-in-a-row .good .good-actions {
        width: 23%;
    }
}
@media screen and (max-width: 1119px) {
    .showed-goods.show-in-a-row .good .good-name-and-chars .good-name {
        height: unset;
    }
    .showed-goods.show-in-a-row .good>.good-link {
        width: 24%;
    }
    .showed-goods.show-in-a-row .good .good-name-and-chars {
        width: 53%;
    }
}
@media screen and (max-width: 1024px) {
    .fast-filters {
        margin-top: -16px;
        margin-bottom: 25px;
    }
    .all-filters-btn {
        display: block;
        margin-bottom: 30px;
    }
    .section-filters {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 300;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: 0 30px 30px 30px;
        background: white;
        transition: .4s;
        transform: translateX(-100%);
        overflow-y: scroll;
    }
    .section-filters form {
        max-width: 320px;
    }
    .section-filters-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        font-family: var(--main-font-bold);
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        background: white;
        z-index: 301;
        padding: 30px 0 20px 0;
        box-sizing: border-box;
    }
    .clear-filters-up-top {
        display: block;
        margin-bottom: 25px;
    }
    #section-filters-close {
        border-radius: 50%;
        border: 1px solid var(--grey);
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-filters.section-filters-toggled {
        transform: translateX(0);
    }
    .showed-goods.show-in-a-row .good>.good-link {
        width: 30%;
    }
    .showed-goods.show-in-a-row .good .good-name-and-chars {
        width: 50%;
    }
}
@media screen and (max-width: 990px) {
    .section-grid {
        display: block;
    }
    .fast-filters {
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        white-space: nowrap;
    }
    .fast-filters::-webkit-scrollbar {
        display: none;
    }
    .fast-filters .fast-filter:last-child {
        margin-right: 0;
    }
}
@media screen and (max-width: 920px) {

}
@media screen and (max-width: 860px) {
    .showed-goods.show-in-a-row .good>.good-link {
        width: 20%;
    }
    .showed-goods.show-in-a-row .good .good-name-and-chars {
        width: 60%;
    }
    .good-name {
        font-size: 18px;
        height: unset;
    }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 698px) {
    .showed-goods .good {
        width: 100%;
    }
}
@media screen and (max-width: 659px) {

}
@media screen and (max-width: 640px) {
    .sorted-filters {
        flex-direction: column;
    }
    .sort-type {
        margin-bottom: 15px;
    }
    .view-settings {
        justify-content: space-between;
    }
    .showed-goods.show-in-a-row .good .minor-filter-mark {
        padding: 5px 9px;
        font-size: 11px;
        border-radius: 8px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .showed-goods.show-in-a-row .good .good-category {
        font-size: 14px;
        height: unset;
    }
    .showed-goods.show-in-a-row .good .good-name {
        font-size: 15px;
    }
    .showed-goods.show-in-a-row .good .good-chars {
        font-size: 12px;
    }
    .showed-goods.show-in-a-row .good .good-price-before-discount {
        font-size: 14px;
    }
    .showed-goods.show-in-a-row .good .good-price {
        font-size: 16px;
    }
}
@media screen and (max-width: 539px) {

}
@media screen and (max-width: 520px) {
    .showed-goods.show-in-a-row .good .good-chars {
        display: none;
    }
    .showed-goods.show-in-a-row .good .good-name-and-chars {
        width: 45%;
        padding: 0 15px;
    }
    .showed-goods.show-in-a-row .good .good-actions {
        width: 35%;
    }
    .showed-goods.show-in-a-row .good .good-actions-buttons .second-action,
    .showed-goods.show-in-a-row .good .good-actions-buttons .main-action {
        font-size: 14px;
    }
}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 459px) {

}
@media screen and (max-width: 425px) {
    .showed-goods.show-in-a-row .good .minor-filter-mark {
        padding: 4px 4px;
        font-size: 10px;
        border-radius: 6px;
        margin-bottom: 8px;
    }
}
@media screen and (max-width: 374px) {
    .showed-goods.show-in-a-row .good {
        padding: 15px;
        min-height: 260px;
    }
    .showed-goods.show-in-a-row .good .good-name-and-chars {
        width: 53%;
        padding: 0 8px;
    }
    .showed-goods.show-in-a-row .good .good-actions {
        width: 27%;
    }
}